
.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 0;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  height: 3.5em;
  width: 100%;
  margin-bottom: 2em;
}

.bar-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-right: 1px solid whitesmoke;
}

.bar-section:last-child {
  border-right: none;
}

.progress-bar {
  width: 20em;
  transition: width 1s linear;
  color: red;

}

.color-container {
  width: 20em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.start {
  background: mediumseagreen;
}

.restart {
  max-width: 4em;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  width: 100%;
}

.clickable {
  cursor: pointer;
}